@model IEnumerable<QuanLyDiemSinhVien.Models.CourseSectionModel>

<h3 class="mb-4" style="margin-left: 20px; padding-top: 15px;">
    Danh sách lớp học phần đang mở
</h3>

<table class="table table-bordered table-hover text-center align-middle">
    <thead class="table-success">
        <tr>
            <th>STT</th>
            <th>Lớp học phần</th>
            <th>Năm học</th>
            <th>Học kỳ</th>
            <th>Số lượng tối đa</th>
            <th>đã đăng ký</th>
            <th>Giảng viên</th>
            <th>Phòng học</th>
            <th>Tuần học</th>
            <th>Thứ(tiết học)</th>
            <th >Đăng ký</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            if (Model != null && Model.Any())
            {
                foreach (var s in Model)
                {
                    <tr>
                        <td>@i</td>
                        <td>@s.SectionCode</td>
                        <td>@s.AcademicYear</td>
                        <td>@s.Semester</td>
                        <td>@s.MaxStudents</td>
                        <td>@s.RegisteredStudents</td>
                        <td>@s.Lecturer?.FullName</td>
                        <td>@s.Room</td>
                        <td>(@s.StartWeek -> @s.EndWeek)</td>
                        <td>T @s.DayOfWeek (@s.StartPeriod,@s.EndPeriod)</td>
                        <td>
                            <form asp-action="Enroll" method="post">
                                <input type="hidden" name="sectionId" value="@s.SectionId" />
                                <button type="submit" class="btn btn-primary">Đăng ký</button>
                            </form>
                        </td>
                    </tr>
                    i++;
                }
            }
            else
            {
                <tr>
                    <td colspan="15">Chưa có lớp học phần nào được mở.</td>
                </tr>
            }
        }
    </tbody>
</table>
